.blogs .blogUpper {
  text-align: center;
}

.blogs .blogsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.blogs .blogsContainer .blogBox {
  flex: 1;
  background-color: var(--white6);
}

.blogs .blogsContainer .blogBox .blogBoxImage {
  position: relative;
  margin-bottom: 60px;
}

.blogs .blogsContainer .blogBox .blogBoxImage h2 {
  position: absolute;
  right: 2rem;
  color: var(--orange);
  bottom: -2.6rem;
  width: 93px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--prussian);
  flex-direction: column;
  gap: 6px;
  padding-block: 10px;
  z-index: 10;
}

.blogs .blogsContainer .blogBox .blogBoxImage h2 span:nth-of-type(1) {
  font-size: 4rem;
  line-height: 30px;
  font-weight: 700;
  font-family: var(--ff-oswald);
}

.blogs .blogsContainer .blogBox .blogBoxImage h2 span:nth-of-type(2) {
  font-size: 2.2rem;
  line-height: 33px;
  font-weight: 600;
  color: white;
}

.blogs .blogsContainer .blogBox .blogBoxImage .orngbg {
  width: 93px;
  height: 100px;
  background-color: var(--orange);
  right: 3.1rem;
  position: absolute;
  bottom: -3.7rem;
  z-index: 7;
}

.blogs .blogsContainer .blogBox .blogBoxImage img {
  width: 100%;
  position: relative;
  z-index: 5;
}

.blogs .blogsContainer .blogBox .blogContent {
  padding-inline: 12px;
  padding-block-end: 12px;
}

.blogs .blogsContainer .blogBox .blogContent h2 {
  font-size: 2.2rem;
  line-height: 26.4px;
  font-weight: 600;
  font-family: var(--ff-oswald);
  color: var(--prussian);
  margin-bottom: 15px;
  text-transform: capitalize;
}

.blogs .blogsContainer .blogBox .blogContent p {
  font-size: 1.6rem;
  line-height: 27.2px;
  margin-bottom: 15px;
  font-family: var(--ff-rubik);
  text-transform: capitalize;
}

.blogs .blogsContainer .blogBox .blogContent a {
  font-size: 1.8rem;
  line-height: 30.6px;
  color: var(--orange);
  text-transform: uppercase;

  font-family: var(--ff-rubik);
}

.blogs .blogsContainer .blogBox .blogContent a:hover::before {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font: var(--fa-font-solid);
  margin-right: 1rem;
}

/* ^^^^^^^^^^^^^^^^^^ MEDIA QUERIES ^^^^^^^^^^^^^^^^^^^*/

@media (max-width: 768px) {
  .blogs .blogsContainer {
    flex-direction: column;
    gap: 4rem;
  }
}
